.main-dish{
   width: 25%;
   height: 20%;
}
.note{
   font-size: 0.7rem;
   color: red;
}
.dishName{
font-size: 1.25rem;
font-weight: bold;
}
img{
   height: 100px;
   width: 100px;
   border-radius: 25px;
}
input{
   border-radius: 20px;
}